body {
    background-color: #18346b; 
    font-family: arial, sans-serif;
}

h1 {
    border: 2 px solid;
    padding: 10px;
}

p {
    background-color: rgba(red, rgb(255, 255, 255), blue, alpha);
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0;
  }

  .links {
    position: absolute;
    top: 10px;
    left: 10px;
  }